* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
    width: 200px;
    height: 300px;
    border: #9c27b0 5px solid;
}
.row {
	display: flex;
}
.cell {
	width: 100px;
	height: 100px;
	border: darkblue 1px solid;
}